body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #151515;
    color: #d0d0d0;
    margin: auto;
    max-width: 50em;
}

#page-title {
    text-align: center;
}

#page-title h1 a, .post a {
    color: black;
    color: #F4BF75;
}

a {
    text-decoration: none;
    color: #f4bf75;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    display: inline-block;
    min-width: 100px;
}

#posts {
    padding-left: 2em;
}

.post {
    padding-left: 1em;
}

.blog-post {
    padding-left: 1em;
}
